*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323; */
    background-image: url('../img/fondo.jpg');
    /* background-repeat: repeat-y;
    background-size: cover; */
}

.img1{
    width: 280px;
}

.cont{
    width: 320px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.cont1{
    margin-top: 100px;
}

.card1{
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
}

.h2{
    padding: 5px 0;
}

.input{
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
}

.btn{
    margin: 10px 0;
    width: 90%;
}

.tbm{
    margin-top: 100px;
}
.nav1{
    margin-left: 10px;
}
.nv{
    margin-left: 20px;
}

#contenedor-carga{
    background-color: rgba(255, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s easy;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #1aad14;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}