{% extends "layout.html" %}
{% block content %}
    
<div class="cont animate__animated animate__flipInY">
    <div class="card1">
        <h2 class="h2 bg-dark text-white">Contact</h2>
        <form>
            <div class="form-group input">
                <input id="my-input" class="form-control" type="text" placeholder="Titulo">
            </div>
            <div class="form-group input">
                <textarea rows="10" class="form-control" placeholder="Asunto"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>

{% endblock %}